// // 颜色
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #da5961
// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px
// // 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px


// // 颜色
// $accentColor = #622a1d
// $textColor = #6b6882
// $borderColor = #eaecef
// $codeBgColor = #50616d
// $arrowBgColor = #758a99
// $badgeTipColor = #622a1d
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #da5961
// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px
// // 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px



// // 颜色
// $accentColor = #003371
// $textColor = #815463
// $borderColor = #eaecef
// $codeBgColor = #065279
// $arrowBgColor = #177cb0
// $badgeTipColor = #622a1d
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #da5961
// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px
// // 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px




// 颜色
$accentColor = #f1908c
$textColor = #4b2e2b
$borderColor = #f1979055
$codeBgColor = #5c1e19
$arrowBgColor = #481e1c
$badgeTipColor = #bdaead
$badgeWarningColor = darken(#bdaead, 35%)
$nprogressColor = red
// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px
// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px